h1{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.5em;
  width: 50%;
  margin: 0 auto;
  border-bottom: solid 2px;
  border-color: rgb(191, 192, 194);
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#card-container > * {
  margin: 3%;
}

.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: ease-in 0.2s;
}

.list-group-item:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.card-header {
  font-size: 1.5em;
  font-weight: 600;
}

