h1,
h2 {
  text-align: center;
  margin-top: 75px;
}

h1 {
  padding: 3em;
  background-color: bisque;
}
#card-container {
  display: flex;
  justify-content: center;
}

#card-container > * {
  margin: 3%;
}

.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: ease-in 0.2s;
}

.list-group-item:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.card-header {
  font-size: 1.5em;
  font-weight: 600;
}
